//COLORS//
$color-black: rgb(38, 34, 34);
$color-pink: #faa2c7;
$color-hover: #ececec;
$color-grey: rgb(178, 178, 178);
$color-bkgnd: rgba(219, 211, 189, 0.388);

// box-shadow: 0 2rem 5rem rgba(0,0,0, .07);


//  BREAKPOINTS //
$bp-largest: 84.375em;   //  1350px/16 = 84.375
$bp-large: 62.5em;   //  1000px/16 = 62.5
$bp-medium: 50em;   //  800px/16 = 50
$bp-small: 40.625em; //  650px/16 = 40.625



//REUSEABLE COMPONENTS//

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: 62.5%; // 10px/16px = 62.5% //

   ::selection {

   }

   @media only screen and (max-width:$bp-largest) {
      font-size: 56.25%;
   }





   @media only screen and (max-width:$bp-small) {
      font-size: 43.75%;
      
      
   }
}

body {
   font-family: "Source Sans Pro", sans-serif;
   font-weight: 300;
   background-color: #fff;
   
}

.container {
   padding: 0;
}

.heading-1 {
   font-size: 7.5rem;
   font-weight: 700;
   text-transform: uppercase;
   

   @media only screen and (max-width:$bp-largest) {
      font-size: 6.5rem;
   }

   @media only screen and (max-width:$bp-large) {
      font-size: 4.5rem;
   }
   @media only screen and (max-width:$bp-medium) {
      font-size: 3.5rem;
   }
}

.heading-2 {
   font-size: inherit;
   font-weight: 700;
   text-transform: capitalize;

   @media only screen and (max-width:$bp-largest) {
      font-size: inherit;
   }

   @media only screen and (max-width:$bp-large) {
      font-size: inherit;
   }
   @media only screen and (max-width:$bp-medium) {
      font-size: inherit;
   }
}
.heading-3 {
   font-size: inherit;
   font-weight: 500;

}


.activated {
  background-color: $color-hover;
}

.text-cntr {
   text-align: center;
}



