// --- Feature Section ---- //


.feature {
   padding: 8rem 5rem;
   background-color: $color-bkgnd;
   display: grid;
   grid-template-columns: repeat(4, minmax(min-content, 1fr));
   grid-gap: 3rem;


   @media only screen and (max-width:$bp-largest) {
      grid-template-columns: repeat(3, minmax(min-content, 1fr));
      grid-gap: 6rem;
   }

   @media only screen and (max-width:$bp-large) {
      grid-template-columns: repeat(2, minmax(min-content, 1fr));
      grid-gap: 3rem;
   }

   @media only screen and (max-width:$bp-small) {
      grid-template-columns: repeat(1, minmax(min-content, 1fr));
      
      
   }


   &__card {
      padding: 3rem;
      // background-color: rgba($color-hover, .8);
      background-color: rgb(255, 255, 255);
      border-top-left-radius: 3rem;
      border-top-right-radius: 3rem;
      border-bottom-right-radius: 3rem;
      z-index: 5;
      cursor: pointer;
      transition: all .3s;

      &:hover {
         transform: translateY(-.9rem);
      }

      @media only screen and (max-width:$bp-largest) {
         padding: 4rem;
      }

      @media only screen and (max-width:$bp-large) {
         padding: 3rem;
      }

      @media only screen and (max-width:$bp-small) {
         width: 50%;
         margin: auto;
         
         
      }

   }

   &__imgbox {
      height: 9rem;
      width: 100%;
      padding: 3rem;
      text-align: end;
      @media only screen and (max-width:$bp-large) {
         padding: 0;
         width: 70%;
         margin: auto;
      }
   }

   &__img {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;

      @media only screen and (max-width:$bp-large) {
         height: 7rem;
         width: 7rem;

      }
      @media only screen and (max-width:$bp-small) {
         height: 5rem;
         width: 5rem;
         
         
      }
   }

   &__content {
      height: 16rem;
      width: 100%;
      padding: 3rem;
      @media only screen and (max-width:$bp-large) {
         padding: 4rem;
         
      }
      @media only screen and (max-width:$bp-small) {
         padding: 2.5rem 1.5rem 1.5rem 1.5rem;
         
         
      }
   }

   &__link {
      text-decoration: none;
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
      color: $color-black;
      letter-spacing: 1.3px;


      @media only screen and (max-width:$bp-largest) {
         font-size: 1.7rem;
      }

      @media only screen and (max-width:$bp-small) {
         
          
      }
      
   }

   &__span {
      color: $color-pink;
      margin-left: 2rem;
      font-weight: 400;
      font-style: italic;

      @media only screen and (max-width:$bp-small) {
         margin-left: .4rem;
          
      }
   }

   &__para {
      font-size: 1.3rem;
      font-weight: 500;
      margin-top: 2rem;
      text-align: justify;
      font-style: italic;
      color: rgba($color-black, .7);
      @media only screen and (max-width:$bp-large) {
        padding: 0 3rem 2rem 0;
         
      }

      @media only screen and (max-width:$bp-small) {
         padding: .4rem;
          
      }
   }

}



// --- Next Level Section ---- //

.nextlevel {
   padding: 4rem 4rem;
   display: flex;

   @media only screen and (max-width:$bp-largest) {
      
   }

   @media only screen and (max-width:$bp-large) {
      flex-direction: column;
   }
   @media only screen and (max-width:$bp-medium) {
      
   }
   


   &__textbox {
      flex: 0 0 50%;
      font-size: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;



      @media only screen and (max-width:$bp-largest) {
         font-size: 4rem;
         padding: 2rem;
         margin-bottom: 4rem;
      }
   
      @media only screen and (max-width:$bp-large) {
         font-size: 3rem;
         padding: 1rem;
         margin-bottom: 4rem;
      }
      @media only screen and (max-width:$bp-medium) {
         font-size: 2.5rem;
         padding: 1rem;
      }
   }

   &__span {
      color: rgba($color-bkgnd, 1);
      filter: brightness(95%);

   }
   
   &__imgbox {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin: 0 2rem;
      
      box-shadow: 0 2rem 5rem rgba(0,0,0, .07);

      @media only screen and (max-width:$bp-large) {
         width: 40%;
         margin: 0 auto;
      }
   }

   &__img {
      width: 100%;
      height: auto;
      border-radius: 5px;
   }
}





// --- Schedule Section ---- //

.schedule {
   padding: 4rem;
   display: flex;

   @media only screen and (max-width:$bp-large) {
      flex-direction: column;
      
   }

   &__box1 {
      flex: 0 0 45%;
      // padding: 0 4rem;
      // margin: 2rem 4rem;
      display: flex;
      // background-color: transparent;
      justify-content: center;
      align-items: center;
      // overflow: hidden;
      box-shadow: 0 2rem 5rem rgba(0,0,0, .08);
      margin: 0 auto;
      
      
      @media only screen and (max-width:$bp-large) {
         // margin-bottom: 4rem;
         width: 40%;
         margin: 2rem auto;
         
      }

      @media only screen and (max-width:$bp-medium) {
         margin-bottom: 4rem;
         
      }
      
   }

   &__img {
      width: 100%;
      height: auto;
      border-radius: 5px;
      

      
   }

   &__box2 {
      flex: 0 0 45%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: $color-bkgnd;
      border-radius: 5px;
      max-height: max-content;
      margin: 0 auto;
      

      @media only screen and (max-width:$bp-large) {
         flex: 0 0 65%;
         
      }

      @media only screen and (max-width:$bp-medium) {
         
         
      }
      
      
   }

   &__headingbox {
      font-size: 5rem;
      padding: 2rem;

      @media only screen and (max-width:$bp-largest) {
         font-size: 4rem;
         padding: 2rem;
      }
   
      @media only screen and (max-width:$bp-large) {
         font-size: 3rem;
         padding: 1rem;
      }
      @media only screen and (max-width:$bp-medium) {
         font-size: 2.5rem;
         padding: 1rem;
      }
      
      // background-color: $color-bkgnd;
   }

   &__content {
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(4, minmax(min-content, 1fr));
      grid-gap: 2rem;
      font-size: 1.8rem;

      @media only screen and (max-width:$bp-largest) {
         grid-template-columns: repeat(3, minmax(min-content, 1fr));
         grid-gap: 2rem;
         font-size: 1.3rem;
      }
   
      @media only screen and (max-width:$bp-large) {
         grid-template-columns: repeat(4, minmax(min-content, 1fr));
         grid-gap: 2rem;
         font-size: 1rem;
         
      }
   }

   &__para {
      padding: 1rem;
      
      background-color: #fff;
      border-radius: 5px;
      text-align: center;
      transition: all .2s;
      cursor: pointer;
      backface-visibility: hidden;

      &:hover {
         transform: scaleY(1.2);

      }

      @media only screen and (max-width:$bp-large) {
         font-size: 1.3rem;
      }

      @media only screen and (max-width:$bp-medium) {
         font-size: 1rem;
         
      }
      
   }

   &__span {
      display: block;
      margin-top: 1rem;
   }

}






// --- Appointment Section ---- //

.appointment {
   display: flex;
   // border-top: 5px solid rgba(255, 255, 255, 0.950);

   @media only screen and (max-width:$bp-small) {
      flex-direction: column;
      
      
   }

   &__box1 {
      flex: 0 0 50%;
      background-color: $color-bkgnd;
      border-right: 5px solid rgba(252, 252, 252, 0.950);
   }

   &__hbox {
      text-align: center;
      font-size: 5rem;
      padding: 3rem;
   }

   &__hbox2 {
      text-align: center;
      padding: 1rem;
      
   }

   &__arti {
      display: inline-block;
      font-size: 8rem;
      color: #fff;
      cursor: pointer;

      & h2 {
         margin-top: -3rem;
      }
   }

   &__arti-icon {
      height: 20rem;
      width: 20rem;
      fill: #fff;
      
   }



   &__box2 {
      flex: 1;
      background-color: $color-bkgnd;
      
   }
   &__headingbox {
      padding: 4rem 4rem;
      font-size: 4rem;
   }

   &__group {
      margin-bottom: 4rem;
      margin-left: 4rem;
      margin-right: 4rem;
   }

   &__input {
      font-size: 1.5rem;
      padding: 1.5rem 2rem;
      border-radius: 2px;
      background-color: rgb(255, 255, 255);
      border: none;
      border-bottom: 3px solid transparent;
      width: 90%;
      display: block;
      transition: all .3s;
      
      
      &:focus {
         outline: none;
         box-shadow: 0 1rem 4rem rgba($color-black, .09);
      }

      &:focus:invalid {
     border-bottom: 2px solid rgba($color-black, .6);
      }
   }

   &__label {
      font-size: 1.3rem;
      font-weight: 500;
      margin-top: .7rem;
      margin-left: 2rem;
      display: block;
      transition: all .3s;
   }
   &__input:placeholder-shown + &__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem);
   }

   &__radio-group {
      width: 100%;
      margin-bottom: 2rem;
      display: block;
   }

   &__radio-input {
      display: none;
   }

   &__radio-label {
      font-size: 1.6rem;
      font-weight: 600;
      cursor: pointer;
      padding-left: 4.5rem;
      position: relative;
      color: rgba($color-black, .8);
   }

   &__radio-span {
      height: 3rem;
      width: 3rem;
      position: absolute;
      border: 5px solid rgba($color-black, .8);
      border-radius: 50%;
      left: 0;
      top: -.4rem;

      &::after {
         content: "";
         display: inline-block;
         height: 1.3rem;
         width: 1.3rem;
         border-radius: 50%;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         background-color: rgba($color-black, .8);
         opacity: 0;
         transition: opacity .3s;
      }
   }

   &__radio-input:checked ~ &__radio-label &__radio-span::after {
     opacity: 1;
   }

   &__button {
      border: none;
      background: #fff;
      padding: 1.6rem 4rem;
      margin-left: -4rem;
      margin-top: 4rem;
      border-radius: 100px;
      font-size: 1.4rem;
      font-weight: 600;
      text-transform: uppercase;
      transition: all .3s;

      &:hover {
         background-color: rgba($color-black, .9);
         color: #fff;
      }
      &:active {
         transform: translateY(4px);
      }
   }

}


// --- FOOTER Section ---- //

.footer {
   padding: 5rem;

   display: grid;
   grid-template-columns: repeat(3, minmax(min-content, 1fr));
   grid-gap: 3rem;
   // background-color: $color-bkgnd;
   
   &__box {
      display: grid;
      align-items: center;
      justify-content: center;
      font-family: "Cookie";
      letter-spacing: 2px;
      font-size: 2.5rem;

      

      @media only screen and (max-width:$bp-medium) {
         letter-spacing: 1px;
         font-size: 2rem;
      }
   }

   &__para {
      margin-top: 3rem;
      font-size: 2.2rem;
      font-family: "Cookie";
      color: rgba($color-bkgnd, 1);

      @media only screen and (max-width:$bp-medium) {
         letter-spacing: 1px;
         font-size: 1.8rem;
      }
   }

   &__link {

      &:link,
      &:visited {
         text-decoration: none;
         font-size: 1.8rem;
         color: rgba($color-bkgnd, 1);
         filter: brightness(90%);
         font-weight: 600;
         margin-top: 1rem;
         
         display: inline-block;
         
         transition: all .3s;
         
      }

      &:hover {
         color: $color-black;
         
      }

      &::after {
         content: "";
         display: block;
         width: 0;
         height: 2px;
         margin-top: .5rem;
         background-color: $color-black;
      }

      &:hover::after {
         width: 100%;
         transition: all .3s;
      }

      

   }

   

   

   &__icon {
      margin-right: .4rem;
      
   }


}
